<div class="container">
  <h1 style="text-align: center;">Router App</h1>
  <hr>
  <div>
    <nav>
      <ul>
        <li>
          <a routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="contact" routerLinkActive="active">Contact</a>
        </li>
        <li>
          <a routerLink="todos" routerLinkActive="active">Todos</a>
        </li>
        <li>
          <a routerLink="courses" routerLinkActive="active">Courses</a>
        </li>
      </ul>
    </nav>
    <hr>
    <router-outlet></router-outlet>
  </div>
</div>