/* You can add global styles to this file, and also import other style files */
* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1 {
    color: #264D73;
}
h2,h3 {
    color:#444;
    font-weight: lighter;
   
}
h3 {
    font-size: 1.3rem;
}
body {
   max-width: 1000px; 
   background-color: beige;
   margin: auto;
   padding: .5rem;
}
a {
    cursor: pointer;
}
button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}